.home .title {
    font-size  : 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.home .subtitle {
    font-size: 1.1rem;
}
mat-card{
    margin: 2rem;
    margin-top: 1rem;
    overflow: hidden;
}