<mat-sidenav-container class="container" *ngIf="getNavValue()">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="/Products">
                <i class="material-icons">
                    store
                </i>
                Produtos
            </a>
          
        </mat-nav-list>
    </mat-sidenav>
    <mar-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mar-sidenav-content>
</mat-sidenav-container>